@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html{
  scroll-behavior: smooth !important;
}
body {
 background-color: #F2F2F2;
 margin: 0;
 padding: 0;
 color: #111204CC;
 font-family: "Outfit", sans-serif;
 font-weight: 400;
 font-optical-sizing: auto;
 font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
 h2{
  font-size: 40px;
}
.input{
  background-color: white;
  border: none;
}
.input:focus{
outline: none !important;
}
.textarea{
  background-color: white;
  border: none;
}
.textarea:focus{
outline: none !important;
}
.main_container{
  width: 90%;
  margin: auto;
}
.side_title{
  font-size: 36px;
}
.side_title::after{
  contain: "sdsds";
  height: 10px;
  width: 30px;
  background-color: #29B473;
}
.footer_border{
  border-top: 1px solid #9393939a;
}
.popuper_blog_title{
  border-bottom: 2px solid #29B473;
}
.blog_detail_share_section{
  border-left: 7px solid #29B473;
}

nav {
  /* padding: 10px 0; */
  transition: background-color 0.3s ease;
 
}
.nav_shadow{
  box-shadow: 0px 0px 9px 0px #29B473;
}

.nav_manu li a{
/* background-color: orange; */
font-size: 14px;
transition: 0.5s;
/* padding: 14px 5px; */
}
.nav_manu li a:hover{
color: #29B473;
}
.sub_nav_manu {
  display: none;
}
.sub_nav_manu li:hover {
 color: #29B473;
}
.page_active{
  border: 2px solid #29B473;
}

/* Display .sub_nav_manu when hovering over .nav_manu li */
.nav_manu li:hover .sub_nav_manu {
  display: block;
}
.navber_border{
  border-bottom: 1px solid rgba(255, 255, 255, 0.403);
}
/* Add arrow icon to the span */
.arrow {
  display: inline-block;
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-image: url('../../public/assets/down-arrow.png'); /* Or use an icon font */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* Other background properties (position, etc.) for the arrow icon */
}

/* Change arrow icon when hovering over .nav_manu li */
.nav_manu li:hover .arrow {
  background-image: url('../../public/assets/up-arrow.png'); /* Or change icon for hover state */
  /* Other styles for the arrow on hover */
}



#banner{
  background-image: linear-gradient(90deg, #111204e8, #111204bc), url(../../public/assets/images/home/banner/banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  transition: background-image 2s ease; 
}
.case_studies_left{
  background-image: url(../../public/assets/images/home/case-studies/case-studies-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
  transition: background-image 2s ease; 
}
.banner_content{
  height: 110vh;
}




/* error css  */
.error-box{
  width: 100%;
  margin: auto;
  margin-top: 20vw;
}
.num{
  color: red;
  font-size: 40px;
  font-weight: bold;
}
.not-f{
  color: rgb(255, 0, 0);
  font-weight: 500;
}
.ops{
  color: rgb(0, 208, 255);
  font-size: 50px;
}

 /*============================================================
  <<<<<<<<<<<<< All media query css code  here  >>>>>>>>>>>>>>>
 =============================================================*/
@media only screen and (max-width: 600px) {
  .side_title{
    font-size: 26px;
    margin: 28px 0;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
  .banner_content{
    height: 100vh;
  }
}